@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
	--KuronoRed:#A02747;
	--KuronoPurple:#473155;

}

body{
	margin:0px;
	background-color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-image: url('../assets/gompattern.jpg');
}

.info{
	margin:10px;
	padding: 10px;
	/*https://rgbacolorpicker.com/*/
}

.info > div {
	margin: 10px;
}

.topgif{
	background-image: url('../assets/gomrun.gif');
	background-repeat: no-repeat;
	background-size: cover;
	height: 720px;
	width: auto;
}

.topgif h1{
	position: relative;
	margin:auto;
	top:50%;
	color:white;
}

ul{
	list-style: none;
	padding: 0px;
}

.socicon{
	width: 30px;
	height:auto;
}

.pricing, .add-ons, .model{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 10px;
	display: inline-block;
	width: 50%;
	margin: auto;
}

.model{
	box-shadow: 5px 5px 0px var(--KuronoRed);
	background-color:white;
	color: var(--KuronoRed);
	margin: 10px 0px;
}